<h3 style="text-align:center;margin-top:10px">Pig Details </h3>
<div class="formBox">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
        <label>Pig Id: </label>
        </div>
        <div class="col-auto">
        <label>{{pig.id}}</label>
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
    <label>Pig Type: </label>
    </div>
    <div class="col-auto">
    <label>{{pig.type}}</label>
    </div>
    </div>

    <div class="row g-3 align-items-center">
        <div class="col-auto">
        <label>Pig height: </label>
        </div>
        <div class="col-auto">
        <label>{{pig.height}}</label>
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
        <label>Pig Weight: </label>
        </div>
        <div class="col-auto">
        <label>{{pig.weight}}</label>
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
    <label>Pig's Location:</label>
    </div>
    <div class="col-auto">
    <label>{{pig.location}}, {{pig.landmark}}</label>
    </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
    <label>Latitude and Longitude </label>
    </div>
    <div class="col-auto">
    <label>{{pig.latitude}}, {{pig.longitude}}</label>
    </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
    <label>Reported By: </label>
    </div>
    <div class="col-auto">
    <label>{{pig.name}}</label>
    </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
    <label>Reported Time: </label>
    </div>
    <div class="col-auto">
    <label>{{pig.time}}</label>
    </div>
    </div>
</div>
<div class="d-grid gap-2">
    <button  type="button" class="btn btn-dark" routerLink="/">Back</button>
  </div>