.map-container {
    position: absolute;
    top: 70px;
    left: 0px;
    right: 1px;
    bottom: 3px;
    margin: 10px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 80%;
    width: 90%;
    left:auto;
  }
  
  #map {
    height: 100%;

  }